rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      match /users/{userId}{
        match /privateInfo/data {
          allow create: if canCreateNewProfile();
        }
        match /publicInfo/data{
          allow create: if canCreateNewProfile();
        }
      }
    }

    //Functions
    function isLoggedIn(){
      return request.auth.uid != null;
    }

    function canCreateNewProfile(){
      let validUid = request.resource.data.uid == request.auth.uid;
      return isLoggedIn() && validUid;
    }

    //Boilerplate
  }  
}